@charset "-uf8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right,#72F2EB , #747F7F) ;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px  #0f47449a;
    width:600px ;
    padding: 10%;
    margin: auto;
}
h1{
    color: #1B7F79;
    text-align: center;
    text-shadow: 1px 1px 2px #238079a4 ;
}
h2{
    color:#00CCC0;
}
p{
    text-align: justify;
}